@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-lobster {
  font-family: "Lobster", serif;
}

.font-inter {
  font-family: "Inter", serif;
}

:root {
  --primary: #E7FAFE;
  --secondary: #00000099;
}